# ===== Java/Spring 관련 =====
/instdesign/target/
*.log
*.class
*.jar

# ===== Python 관련 =====
__pycache__/
*.pyc
*.pyo
*.pkl
*.sqlite3
/python/.venv/
.python-version

# ===== 공통 환경파일 =====
.env
*.env

# ===== IDE/에디터 관련 =====
.vscode/
.idea/
*.iml
